<section class="header">
  <div class="container">
    <div class="header-logo">
      <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/images/cfa-logo.png" />
      </a>
      <a class="header-logo-tagline" href="{{ site.baseurl }}/">
        Blog Archive
      </a>
    </div>
    <div class="header-navigation">
      <ul class="header-navigation-list unstyled-list">
        <li><a href="{{ site.new_blog_url }}">Read posts on our new blog</a></li>
        <li><a href="{{ site.baseurl }}/archive/">All archived blog posts</a></li>
      </ul>
    </div>
  </div>
</section>
