// =========== UTILITIES

// # Create mobile-first media queries
@mixin media($bp) {
  @media screen and (min-width: #{$bp}) {
    @content;
  }
}

// # Add a clearfix to a block
@mixin clearfix() {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }
}

// # Get colors in a color map
@function get-color($palette, $tone: 'base') {
  @return map-get(map-get($palettes, $palette), $tone);
}

// # Responsive spacing
@mixin responsive-spacing() {
  margin-bottom: $spacing-bottom;
  @include media($tablet-up) {
    margin-bottom: $spacing-bottom * 2;
  }
}
